main {
	margin: auto 1.5em;
}

h1, h2 {
	padding: 0;
}

em {
	font-family: Graphik-Bold, Arial, Helvetica, sans-serif !important;
	font-style: normal;
}

sup {
	vertical-align: text-top;
}

/***************************/
/********** MAIN ***********/
/***************************/

/* Eerste section: basis-informatie en terugknop */
main > section:first-of-type {
	margin: 1.5em auto;
}

main > section:first-of-type h1 {
	margin-top: 1em;
	margin-bottom: .5em;
}

main > section:first-of-type h2 {
	font-family: Graphik, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-top: 0;
}

main > section:first-of-type p {
	margin-top: 2em;
}

main > section:first-of-type > a:first-of-type {
	align-content: center;
}

main > section:first-of-type > a:first-of-type::before {
	display: inline-block;
	content: url("../images/toggle.png");
	transform: rotate(180deg);
	margin-right: .5em;
}

main > section:first-of-type > a:first-of-type:hover {
	text-decoration: underline;
}


/* Tweede section: de foto */
main > section:nth-of-type(2) {
	background-image: url("../images/sevenhusbands.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	aspect-ratio: 2 / 2;
	height: 100%;
	position: relative;
}

main > section:nth-of-type(2) p {
	background-color: var(--color-vlakken);
	position: absolute;
	border: var(--color-borders) 1px solid;
	padding: 1em 2em;
	top: 0;
	margin: 0; 
}

main > section:nth-of-type(2) img {
	position: absolute;
	top: 0;
	right: 0;
}

/* Derde section: bindwijze tm bezorgopties */
main > section:nth-of-type(3) p:nth-of-type(2) {
	font-family: Ultra, 'Times New Roman', Times, serif;
	color: var(--color-prijs);
	font-size: 2em;
	margin: 0; 
}

main > section:nth-of-type(3) p:nth-of-type(3),
main > section:nth-of-type(3) p:nth-of-type(4) {
	color: var(--color-voordeel);
}

main > section:nth-of-type(3) p:nth-of-type(3) {
	display: inline;
	padding: .25em;
	margin-top: 2em;
	font-family: Graphik-Bold, Arial, Helvetica, sans-serif;
	border: var(--color-voordeel) 1px solid;
}

main > section:nth-of-type(3) ul {
	list-style-image: url(../images/);
}



main > section:nth-of-type(3) button {
	display: block;
	font-family: Graphik, Arial, Helvetica, sans-serif;
	background-color: var(--color-kopen-en-reviews);
	border: none;
	padding: .75em;
	width: 80%;
	margin: auto;
	font-size: 1em;
	box-shadow: 0 4px 0-2px rgba(3,3,26,.25);;
}

main > section:nth-of-type(3) button::before {
	content: url("../images/voegtoe-winkelwagen.png");
	margin-right: .5em;
	vertical-align: middle;
}

