/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-whitespace: #fff;
	--color-achtergronden: #0300a4;
	--color-links: #0800ff;
	--color-borders: #e6e6e8;
	--color-vlakken: #f0f6ff;
	--color-prijs: red;
	--color-voordeel: #0c7000;
	--color-kopen-en-reviews: #febd00;
	--uitklaptijd: .3s;
}

/* Regular font */
@font-face {
	font-family: Graphik;
	src: url("../fonts/GraphikRegular.otf");
}

/* Bold font */
@font-face {
	font-family: Graphik-Bold;
	src: url("../fonts/GraphikBold.otf");
}

/* Light font */
@font-face {
	font-family: Kameron;
	src: url("../fonts/Kameron-Regular.ttf");
}

@font-face {
	font-family: Ultra;
	src: url("../fonts/Ultra-Regular.ttf");
}








/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

.verbergtext {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

body {
	font-family: Graphik, Arial, Helvetica, sans-serif;
	margin: 0;
	/* overflow: hidden; */
	color: var(--color-text);
}

h1,
h2 {
	font-family: Graphik-Bold, Arial, Helvetica, sans-serif;
	padding: 0 .8em;
}

h1 {
	margin: 0;
}

main section:not(:first-of-type) h2 {
	font-size: 1.2em;
}

a {
	color: var(--color-links);
	text-decoration: none;
	cursor: pointer;
}

span {
	font-family: Kameron, Georgia, 'Times New Roman', Times, serif;
}

strong {
	font-family: Graphik-Bold;
}







/**********/
/* HEADER */
/**********/

header {
	color: var(--color-achtergronden);
	/* width: 100%; */
	/* margin: 0; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/* menu button */
header>section>button {
	margin: auto;
	/* zo weghalen */
	border: none;
	display: flex;
	flex-direction: column;
	order: -100;
	background-color: var(--color-whitespace);
}

header>section>button span {
	display: block;
	width: 23px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;

	background: var(--color-achtergronden);
	border-radius: 3px;
}

/* het uitschuifemenu */
header nav:first-of-type {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	order: 1000;
	overflow: auto;

	background-color: var(--color-whitespace);
	transition: .5s;

	transform: translateX(-100%);
	z-index: 5;
}

nav:first-of-type.open {
	transform: translateX(0);
}

header nav:first-of-type button {
	background-color: var(--color-whitespace);
	position: absolute;
	left: 1.5em;
	top: 1.6em;
	border: none;
	color: var(--color-links);
}

header nav:first-of-type ul {
	position: absolute;
	width: 100%;
	top: 3.5em;
	left: .5em;
	padding-right: 1em;
}

header nav:first-of-type ul h2 {
	font-family: Graphik;
	font-size: 1em;
	padding-left: 1em;
	order: 1000;
}

header nav:first-of-type a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header nav:first-of-type li {
	border-top: var(--color-borders) solid 1px;
	padding: .25em;
	margin-top: 0;
}

/* tweede menu met iconen */
header nav:nth-of-type(2) li {
	display: inline;
	margin: auto;
}

header ul {
	list-style-type: none;
	padding: 0;
}

header ul a {
	text-decoration: none;
	color: var(--color-text);
}

header li a {
	display: inline;
	margin: .5em;
}


header>section {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
}

header > section > nav:first-of-type {
	grid-area: 1 / 1 / 2 / 2;
}

header > section > a {
	grid-area: 1 / 2 / 2 / 3;
}

header > section > nav:nth-of-type(2) {
	grid-area: 1 / 3 / 2 / 4;
}

/* zoeken */
header form {
	display: flex;
	position: relative;
	width: 100%;
	flex-shrink: 0;
	order: 100;
	margin-bottom: 0;
	background-color: var(--color-achtergronden);
}

input[type="text"] {
	width: 100%;
	border: none;
	border-radius: 20em;
	padding: 1.3em 2em;
	margin: 1em;
}

input[placeholder] {
	color: var(--color-text);
}

form button {
	border: none;
	background: none;
	position: absolute;
	right: 1em;
	top: 1.6em;
	order: 2;
}








/***************************/
/********** FOOTER *********/
/***************************/

/* eerste sectie met de blauwe achtergrond */
footer>section:first-of-type {
	padding: 1em;
	font-size: 0.8em;
	background-color: var(--color-achtergronden);
}

footer>section:first-of-type h2,
footer>section:first-of-type a {
	color: var(--color-whitespace);
	padding: 0 0 1em;
}

footer>section:first-of-type h2 {
	font-size: 1.3em !important;
	margin-bottom: 0;
}

footer>section:first-of-type>p:first-of-type {
	margin-bottom: 0;
	padding-bottom: 0 !important;
}

footer>section:first-of-type article {
	display: flex;
	flex-direction: row;
}

/* tweede sectie: de lijst van links */
footer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0 .5em;
	margin: auto;
	align-items: center;
	justify-content: center;
}

footer ul li {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--color-borders) solid 1px;
	padding: 1em;
}

footer ul a {
	color: var(--color-text);
}

/* tweede sectie: wil je ons volgen? */
footer>section:first-of-type {
	margin: 1em auto;
}

footer>section:nth-of-type(2) {
	border-bottom: var(--color-borders) 1px solid;
	padding-bottom: 1em;
}

footer>section:nth-of-type(2) p {
	text-align: center;
}

footer>section:nth-of-type(2) p:first-of-type {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
	margin: 2em;
}

footer>section:nth-of-type(2) section {
	display: flex;
	margin: 1.5em 5em;
	justify-content: space-between;
	align-items: center;
}

/* bol logo helemaal onderaan */
footer>img {
	display: block;
	margin: 2em auto;
}